.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 1100px;
}
.zurg{
    height: 700px;
    width: auto;
    border-radius: 10%;
}
p{
    color: white;
    font-size: 50px;
}
