body{
    background-color: rgb(85, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: white;
    padding: 35px;
    width:400px;
}
h3{
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
}
.answer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button{
    height: 25px;
    width: 50px;
}
